@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700&display=swap');
@import "tailwindcss";

@theme {
  --font-bebas: "Bebas Neue", sans-serif;
  --font-dm: "DM Sans", sans-serif;
}

:root {
  --color-base: #040517;
  --color-component: #02082d;
  --color-accent: #fa8c02;
  --color-banner-gr1: #2f70ca;
  --color-banner-gr2: #0c2152;
  --color-footer-gr1: #192657;
  --color-footer-gr2: #030726;
}

html,
body {
  background-color: var(--color-base);
  color: #ffffff;
}